body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ion-icon {
    font-size: 22px;
    cursor: pointer;
}
/* Conteúdo da barra de navegação superior */ 
.nav {
    background-color: #ffffff;
    border: 1px solid #DBDBDB;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.icons-esquerda {
    display: flex;
}
.icons-direita {
    margin-left: 22px;
}
#verticalBar {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    margin: 0 10px;
}
.nav img {
    width: 103px;
    height: 29px;
    cursor: pointer;
}
input {
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #979797;
}
/* Conteúdo da barra de navegação superior mobile */ 
.nav-mobile {
    display: none;
}

/* Conteúdo do feed*/
.feed {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 88px;
}
/* Conteúdo dos storys*/
.storys {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 615px;
    height: 118px;
    display: flex;
    overflow: hidden;
}
.user {
    width: 66px;
    height: 86px;
    margin-top: 14px;
    margin-left: 14px;
    position: relative;
    cursor: pointer;
}
.back-user {
    width: 66px;
    height: 66px;
}
.front-user {
    left: 5px;
    top: 5px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    position: absolute;
}
.user p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 3px;
    line-height: 14px;
    color: #262626;
    width: 100%;
    text-align: center;
}
.storys-emoji {
    color: #FFFFFF;
    position: absolute;
    margin-top: 46px;
    margin-left: 579px;
    z-index: 1;
} 

/* Conteúdo dos posts*/
.posts {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 614px;
    height: 749px;
    margin-top: 24px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.perfil {
    border-bottom: 1px solid #EFEFEF;
    width: 614px;
    height: 68.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.perfil img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 17px;
}
.perfil p {
    color: #262626;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500px;
}
.perfil ion-icon {
    color: black;
    margin-right: 17px;
}
.user-perfil {
    display: flex;
    align-items: center;
}
.conteudo-post img {
    width: 612px;
    height:612px;
}
.infos {
    background-color: yellow;
    border-top: 1px solid #EFEFEF;
    width: 614px;
    height: 68.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.infos-emoji {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 17px;
}
.esquerda-emoji {
}
.curtidas {
    display: flex;
    align-items: center;
}
.infos img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: 17px;
}
.infos p {
    color: #000000;
    margin-left: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}

/* Conteúdo da sidebar*/
.sidebar {
    background-color: purple;
    width: 293px;
    height: 500px;
    margin-top: 15px;
    margin-left: 29px;
}
.login {
    background-color: palevioletred;
    display: flex;
    align-items: center;
}
.login img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
.sugestoes {
    background-color: peru;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sugestao {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sugestao-perfil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sugestao img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.sugestao p {
    color: #262626;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.sugestao a {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}

/*Navegação inferior para mobile*/
.nav-inferior {
    display: none;
}

/*Responsividade*/
@media (max-width: 915px) {
	.sidebar {
		display: none;
	}
}
@media (max-width: 614px) {
    .nav {
        display: none;
    }
    .nav-mobile {
        background-color: #ffffff;
        border: 1px solid #DBDBDB;
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .nav-mobile img {
        width: 103px;
        height: 29px;
        cursor: pointer;
    }
    .nav-inferior {
        background-color: #ffffff;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 54px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
